In [11]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'a':['x','y','z', 'z'],
                   'b':['xx', 'yy', 'zz','zz'],
                   'c':['xxx', 'yyy', 'zzz', 'asda'],
                   's':[2,3,4,5]})

In [9]:
df.groupby(['a', 'b'], as_index=False)['s'].max()

   a   b  s
0  x  xx  2
1  y  yy  3
2  z  zz  5

In [19]:
df.iloc[np.argmax(df[(df['a']=='z')&(df['b']=='zz')]['s'])]['c']

'asda'